#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.8;
}

#friends-display-link i {
  opacity: 0.3;
}
